body{
  /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWA1pNni9pfGVcOLuKyE2I-uj8ZpOyC78hI8m_hD1u_uPRRcdP"); */
  background-repeat: no-repeat;
  background-size:cover;
  background-color: grey;
  /* border-color: black;
  border-width: 5;
  border-style: solid; */
  border: black 5px solid;

}

h1{
  color: green;
  background-color: blue;
}

li {
  color: blue
}
