h1{
  color: #FF0000;
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */
  border: 5px solid purple;
}

li{
  /*RGB alpha. First three numbers are R,G,B and the last is a transparency modifier. Ranges from 0.0 - 1.0  */
  color: rgba(255, 0, 0, 0.5);
}

body{
  background: url(https://media-cdn.tripadvisor.com/media/photo-s/0e/24/c2/0b/colorful-sky-white-sand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
